<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
  {{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ if .Title }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="font-ubuntu text-charcoal bg-soft-white">
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  {{ $default := resources.Get "scripts/default.js" }}
  <script src="{{ $default.Permalink }}"></script>
</body>
</html>