@tailwind base;
@tailwind components;

.md-content {
  @apply space-y-6 text-charcoal font-ibm-plex-sans text-lg leading-relaxed;
}

.md-content a {
  @apply border-b-2 border-barbie-pink;
}

.md-content a:hover {
  @apply bg-barbie-pink text-white;
}

@tailwind utilities;