@tailwind base;
@tailwind components;

#main-banner {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 100%), url("../images/casa.jpg");
}

.md-content {
  @apply space-y-6 text-charcoal font-ibm-plex-sans text-lg leading-relaxed;
}

.md-content a {
  @apply border-b-2 border-barbie-pink;
}

.md-content a:hover {
  @apply bg-barbie-pink text-white;
}

@tailwind utilities;